#panel_title{    
    font-weight: lighter;
    overflow: hidden;
    border-image: linear-gradient(to right, #efdbc8 0%, #e8710a 75%) 1;
    
    padding: 10px 24px 9px;
    margin: 0px 0px 1px;
    border-top: 5px solid ;
}
#container1 {
    border-top: 1px solid #dadada;
    display: flex;
    flex-direction: row;
    overflow: hidden;
    width: 100%;
}
#panel_footer {
    display: flex;
    flex-direction: row;
    align-items: center;
    border-top: 1px solid #dadada;
    height: 75px;
    padding: 8px 25px;
    justify-content: space-between;
}

.comfirm {
    height: 50%;
    width: 100px;
    background: #e29149 75%;
}

.cancel {
    height: 50%;
    width: 100px;
    
}
.side_bar {
    border-right: 1px solid #dadada;
    margin: 0;
    list-style-type: none;
    padding: 0;
}
.bar_item {
    font-size: 15px;
    text-align: center;
    padding: 15px 25px;
}
.bar_item:hover {
    box-shadow:0 0 10px #f7d4b1;
    cursor: pointer;
}
.selected_item {
    font-weight: bolder;
    background-color: #dadada;
}
body > .hidden {
    display: none;  
}
.main_content {
    width: 80%;
    padding: 10px 10px;
}
form {
    width: 100%;
}
#stu_id {
   height: auto;
}