.calendar {
    font-size: 1.5vw;
    text-align: center;

}
.calendar a{
    text-decoration: none;
    color: black;
}

.calendar td{
    width: 10%;
    height: 140px;
    vertical-align: middle;
}

.registButt{
    font-size: smaller;
}
.registButt:hover {
    background-color: gray;
}

.timeText {
    font-size: 0.7em;
    
    padding: 15%;
}

main .container{
    max-width: 80%;
}

.clickable {
    
}

@media (max-width: 400px) {
    .calendar td{
        width: 10%;
        height: 40px;
    }
}

@media (max-width: 1000px) {
    .calendar td{
        width: 10%;
        height: 70px;
    }
}

@media (max-width: 1500px) {
    .calendar td{
        width: 10%;
        height: 90px;
    }    
}

.date {
    display: none;
}

.self{
    
}
label {
    display: block;
    margin: 30px 0 0 0;
    font-size: 2rem;
}

.panelText{
    font-size: 2rem;
}
.jsPanel-content{
    text-align: center;
}

#name,#room,#phone, h5{
    width: 200px;
    height: 30px;
    margin: 10px;
    color: #1b3a59;
}

#myForm{
    font-family:微軟正黑體;
    display: none;
    margin: 50px;
    padding: 10px;
    width: 240px;
    height: 300px;
    background-color: white;
    border-radius: 5px;
    border-top: 10px solid #1b3a59;
    box-shadow: 0 0px 70px rgba(0, 0, 0, 0.1);
    
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    z-index: 1000;
}

.submit{
    color: white;  
    background: #1b3a59;
    width: 200px;
    height: 30px;
    margin: 10px;
    padding: 5px;
    border-radius: 5px;
    border: 0px;
}

.submit:hover{
  background: #99bd60;
}
