
<!DOCTYPE html>
{% load static%}
<html lang="en">

<head>
    <meta charset="utf-8" />
    {% csrf_token %}
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no" />
    <meta name="description" content="" />
    <meta name="author" content="" />
    <title>宿舍公共空間借用系統</title>

    <link rel="icon" type="image/x-icon" href="assets/favicon.ico" />

    <!-- Bootstrap i cons-->
    <link href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.5.0/font/bootstrap-icons.css" rel="stylesheet" />
    <!-- Core theme CSS (includes Bootstrap)-->
    <!-- <link href='{% static "css/styles.css" %}' rel="stylesheet" /> -->
    <link href = '{% static "css/black_list.css" %}' rel="stylesheet">
    <link href = '{% static "css/admin_bar.css" %}' rel="stylesheet">
    <!--Jquery core import-->
    <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
    <script src="https://code.jquery.com/ui/1.12.1/jquery-ui.min.js"></script>
    <link rel="stylesheet" href="https://code.jquery.com/ui/1.13.1/themes/base/jquery-ui.css">

    <script src='{% static "js/blacklist.js" %}'></script>

    <link rel="stylesheet" href="https://fonts.googleapis.com/css2?family=Material+Symbols+Outlined:opsz,wght,FILL,GRAD@24,400,0,0" />
</head>
<script>
    <!--get all space-->
    let all_space = JSON.parse("{{spaces}}");
    console.log(all_space);
</script>
<body>

    {% include "admin_bar.html"%}
    
    <!-- search the black list -->
    <div id="search_time">
        
        <h1 style="text-align: center; margin-top: 5vh;">預先預約</h1>

        <!-- <button id="time" style="text-align: center;">以時間查詢黑名單</button> -->

        <div class="BL_table">
            <table>
                <thead>
                    <th>預借日期</th>
                    <th>起始時間</th> 
                    <th>時數</th>
                    <th>預借事由</th>
                    <th>功能</th>
                </thead>
                <tbody id="bl">
                    <tr id="input_BL">
                        <form id="input_blacklist" action="" method = "post">
                            {% csrf_token %}
                            <td><input type="date" name="date" id="" placeholder="預借日期" min="{{today}}" required></td>
                            <td>
                                <select name="startTime">
                                    <option disabled selected value> -------- </option>
                                </select>
                            </td>
                            <td>
                                <select name="hours">
                                    <option disabled selected value> -------- </option>
                                </select>
                            </td>
                            <td><input type="text" name="reason" placeholder="預借事由"></td>
                            <td><input type="submit" value="新增" id="add"></td>
                        </form>
                    </tr>
                </tbody>
            </table>
        </div>
    </div>

</body>
</html>