<!DOCTYPE html>
{% load static%}
<html lang="en">

<head>
    <meta charset="utf-8" />
    {% csrf_token %}
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no" />
    <meta name="description" content="" />
    <meta name="author" content="" />
    <title>宿舍公共空間借用系統</title>
    
    <link rel="icon" type="image/x-icon" href="assets/favicon.ico" />
    <!-- Bootstrap i cons-->
    <link href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.5.0/font/bootstrap-icons.css" rel="stylesheet" />
    <!-- Core theme CSS (includes Bootstrap)-->
    <link href='{% static "css/styles.css" %}' rel="stylesheet" />
    <link href = '{% static "css/black_list.css" %}' rel="stylesheet">
    <!--Jquery core import-->
    <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
    <script src="https://code.jquery.com/ui/1.12.1/jquery-ui.min.js"></script>
    <link rel="stylesheet" href="https://code.jquery.com/ui/1.13.1/themes/base/jquery-ui.css">

</head>
<body>
    {% include "navbar.html"%}
    
    <!-- search the black list -->
    <div id="search_time">
        
        <h1 style="text-align: center; margin-top: 5vh;">黑名單</h1>

        <!-- <button id="time" style="text-align: center;">以時間查詢黑名單</button> -->

        <div class="BL_table">
            <table>
                <thead>
                    <th>學號</th>
                    <th>封鎖原因</th> 
                    <th>封鎖截止日 <span style="color: black;">&#10606;</span><span style="color: black; display: none;">&#129035;</span></th>
                    <th>建立日期</th>
                    <!-- <div class="ui-icon ui-icon-arrowthick-1-n"></div><div class="ui-icon ui-icon-arrowthick-1-s" style="display: none;"></div> &#129033;</span><span style="color: black;">&#129153;</span>-->
                    <th>功能</th>
                </thead>
                <tbody>
                    <tr id="input_BL">
                        <form id="input_blacklist" action="" method = "post">
                            <td><input type="text" name="input_id" id="input_id" placeholder="學號" required></td>
                            <td><input type="text" name="input_reason" id="input_reason" placeholder="封鎖原因" required></td>
                            <td><input type="date" name="input_time" id="input_time" placeholder="封鎖截止日" min="2024-03-01" required></td>
                            <td><span id="crea_date"></span></td>
                            <td><input type="submit" value="新增" id="add"></td>
                            
                        </form>
                    </tr>
                    {% for i in time %}
                        <tr class="action">
                            <td class="editable">
                                <span>{{ i.stu_id }}</span>
                                <input type="text" class="edit_id" style="display: none;">
                            </td>
                            <td class="editable">
                                <span>{{ i.banned_reason }}</span>
                                <input type="text" class="edit_reason" required style="display: none;">
                            </td>
                            <td class="editable">
                                <span>{{ i.expire_time }}</span>
                                <input type="date" class="edit_time" min="2024-03-01" required style="display: none;">
                            </td>
                            <!-- 多新增一個，紀錄原本ID -->
                            <td class="editable" style="display: none;">
                                <span class="ori_id">{{ i.stu_id }}</span>
                            </td>
                            <td>
                                <span>{{ i.creation_date}}</span>
                            </td>
                            <td>
                                <button type="button" class="edit" style="display: inline">修改</button>
                                <button type="button" class="delete" style="display: inline">刪除</button>

                                <button type="button" class="save" style="display: none;">儲存</button>
                                <button type="button" class="cancel" style="display: none;">取消</button>                                
                            </td>
                        </tr>
                    {% endfor %}
                </tbody>
            </table>
        </div>
    
    </div>


{% include "footer.html" %}
</body>
<script>
    $(document).ready(function() {
        //確定今日日期，防止解鎖日期填寫比當前日期前面
        var today = new Date().toISOString().split('T')[0];
        $('#input_time').attr('min', today);
        $('#crea_date').text(today);
        //insert blackList之ajax
        $("form").on("submit", function(event){
            event.preventDefault();
            var StuId= $("input[name='input_id']").val();
            var BlackDate= $("input[name='input_time']").val();
            var Reason= $("input[name='input_reason']").val();

            if(StuId.length < 9) {
                alert("學號格式不正確");
            }
            else {
                $.ajax({
                    url: "{% url 'black_print'%}",
                    type: 'POST', 
                    data: {
                        'banned_reason': Reason,
                        'stu_id': StuId,
                        'expire_time': BlackDate,
                        'creation_date': today,
                        "mode": "blacklist_input",
                    },
                    success: function(response){
                        alert(response);
                        if(response !== "該學號已存在於黑名單內")
                            location.reload(true);
                    },
                    error: function(response){
                        alert("輸入失敗");
                        console.log(response);
                    }
                });
            }
        });

        //edit blackList
        $(".edit").on("click", function(event){
            var $row = $(this).closest(".action");

            $row.find(".edit").css("display", "none");
            $row.find(".delete").css("display", "none");
            $row.find(".save").css("display", "inline");
            $row.find(".cancel").css("display", "inline");


            var stuId = $(this).closest("tr").find("td:first").text().trim();
            var bannedReason = $(this).closest("tr").find("td:nth-child(2)").text().trim();
            var expireTime = $(this).closest("tr").find("td:nth-child(3)").text().trim();   
            // editable
            // alert(stuId + expireTime +bannedReason);


        // 迭代所有可編輯的元素，隱藏 <span>，顯示相應的 <input>
            $row.find(".editable span").each(function() {
                $(this).css("display", "none");
            });

            $row.find(".editable input").each(function() {
                $(this).css("display", "inline");
            });

            $row.find(".edit_id").val(stuId);
            $row.find(".edit_reason").val(bannedReason);

            var formattedExpireTime = expireTime.replace(/(\d{4})(\d{2})(\d{2})/, "$1-$2-$3");
            $row.find(".edit_time").val(formattedExpireTime);
            // alert(formattedExpireTime);
        });

        //save按鈕之行為
        $(".save").on("click", function(event){
            event.preventDefault();

            var $row = $(this).closest(".action");

            var original_stuId = $row.find(".ori_id").text().trim();

            var stuId = $row.find(".edit_id").val();
            var expireTime = $row.find(".edit_time").val();
            var bannedReason = $row.find(".edit_reason").val();

            $.ajax({
                url: "{% url 'black_print'%}",
                type: 'POST', 
                data: {
                    'banned_reason': bannedReason,
                    'stu_id': stuId,
                    'expire_time': expireTime,
                    'original_id': original_stuId,
                    'mode' : 'blacklist_edit',
                },
                success: function(response){
                    alert(response);
                    location.reload(true);
                },
                error: function(response){
                    alert("修改失敗");
                    console.log(response);
                }
            });
        });
        //取消按鈕之動作
        $(".cancel").on("click", function(event){
            var $row = $(this).closest(".action");

            $row.find(".edit").css("display", "inline");
            $row.find(".delete").css("display", "inline");
            $row.find(".save").css("display", "none");
            $row.find(".cancel").css("display", "none");

            $row.find(".editable span").each(function() {
                $(this).css("display", "inline");
            });

            $row.find(".editable input").each(function() {
                $(this).css("display", "none");
            });
        });

        //刪除紀錄之ajax
        $(".delete").on("click", function(event){
            var stuId = $(this).closest("tr").find("td:first").text().trim();
            var expireTime = $(this).closest("tr").find("td:nth-child(2)").text().trim();
            var bannedReason = $(this).closest("tr").find("td:nth-child(3)").text().trim();
            var result = confirm("確定刪除這筆資料嗎?\n\n學號:" + stuId + "\n封鎖到期日: " + expireTime + "\n封鎖原因: " + bannedReason);

            if (result) {
                $.ajax({
                        url: "{% url 'black_print'%}",
                        type: 'POST',
                        data: {
                            'stu_id': stuId,
                            'mode' : 'blacklist_delete',
                        },
                        success: function(response){
                            alert(response);
                            // panel.close();
                            location.reload(true);
                        },
                        error: function(response){
                            alert("delete失敗");
                            console.log(response);
                        }
                });
            }
        });
    });
</script>
</html>