<!DOCTYPE html>
{% load static%}
<html lang="en">

<head>
    <meta charset="utf-8" />
    {% csrf_token %}
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no" />
    <meta name="description" content="" />
    <meta name="author" content="" />
    <title>宿舍公共空間借用系統</title>
    
    <link rel="icon" type="image/x-icon" href="assets/favicon.ico" />
    <!-- Bootstrap i cons-->
    <link href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.5.0/font/bootstrap-icons.css" rel="stylesheet" />
    <!-- Core theme CSS (includes Bootstrap)-->
    <link href='{% static "css/styles.css" %}' rel="stylesheet" />
    <link href = '{% static "css/black_list.css" %}' rel="stylesheet">
    <!--Jquery core import-->
    <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
    <script src="https://code.jquery.com/ui/1.12.1/jquery-ui.min.js"></script>
</head>

<style>
    table {
        border-collapse: collapse;
        margin: 25px 0;
        font-size: 0.9em;
        font-family: sans-serif;
        min-width: 75%;
        box-shadow: 0 0 20px rgba(0, 0, 0, 0.15);
    }
    thead tr {
        background-color: #958055;
        color: #ffffff;
        text-align: left;
    }
    th, td {
        padding: 12px 15px;
    }

    tbody tr {
        border-bottom: 1px solid #dddddd;
    }

    tbody tr:nth-of-type(even) {
        background-color: #ebe6e6;
    }

    tbody tr:last-of-type {
        border-bottom: 2px solid #a98842;
    }
    tbody tr.active-row {
        font-weight: bold;
        color: #a98842;
    }

    .BL_table {
        display: flex;
        justify-content: center;
    }

    .edit {
        background-color: #6a9de5;
        color: #ffffff;
        border: #6a9de5 solid;
    }

    .cancel {
        background-color: #7b7c7d;
        color: #ffffff;
        border: #7b7c7d solid;
    }

    .save {
        background-color: #c39e6b;
        color: #ffffff;
        border: #c39e6b solid;
    }

    /* #c39e6b */

    .delete {
        background-color: #ff5252;
        color: #ffffff;
        border: #ff5252 solid;
    }

    .editable input, #input_BL td input{
        width: 90%;
    }

    #add{
        background-color: #93bb65;
        color: #ffffff;
        border: #93bb65 solid;
        width: auto !important;
    }

    @media (max-width: 376px) {
        .BL_table{
            overflow-x: auto;
            width: 100%;
            font-size: 3vw;
        }
        th, td {
            padding: 1vw 1.3vw;
            width: 0vw;
        }
    }
</style>
<body>
    {% include "navbar.html"%}
    
    <!-- search the black list -->
    <div id="search_time">
        <h1 style="text-align: center; margin-top: 5vh;">黑名單</h1>
        <!-- <button id="time" style="text-align: center;">以時間查詢黑名單</button> -->

        <div class="BL_table">
            <table>
                <thead><th>學號</th><th>封鎖截止日</th><th>封鎖原因</th><th>功能</th></thead>
                <tbody>
                    <tr id="input_BL">
                        <form id="input_blacklist" action="" method = "post">
                            <td><input type="text" name="input_id" id="input_id" placeholder="學號" required></td>
                            <td><input type="date" name="input_time" id="input_time" placeholder="封鎖截止日" min="2024-03-01" required></td>
                            <td><input type="text" name="input_reason" id="input_reason" placeholder="封鎖原因" required></td>
                            <td><input type="submit" value="新增" id="add"></td>
                        </form>
                    </tr>
                    {% for i in time %}
                        {% if i.expire_time >= today %}
                            <tr class="action">
                                <td class="editable">
                                    <span>{{ i.stu_id }}</span>
                                    <input type="text" class="edit_id" style="display: none;">
                                </td>
                                <td class="editable">
                                    <span>{{ i.expire_time }}</span>
                                    <input type="date" class="edit_time" min="2024-03-01" required style="display: none;">
                                </td>
                                <td class="editable">
                                    <span>{{ i.banned_reason }}</span>
                                    <input type="text" class="edit_reason" required style="display: none;">
                                </td>
                                <!-- 多新增一個，紀錄原本ID -->
                                <td class="editable" style="display: none;">
                                    <span class="ori_id">{{ i.stu_id }}</span>
                                </td>
                                <td>
                                    <button type="button" class="edit" style="display: inline">修改</button>
                                    <button type="button" class="delete" style="display: inline">刪除</button>

                                    <button type="button" class="save" style="display: none;">儲存</button>
                                    <button type="button" class="cancel" style="display: none;">取消</button>                                
                                </td>
                            </tr>
                            {% endif %}
                    {% endfor %}
                </tbody>
            </table>
        </div>
    
    </div>


    {% include "footer.html" %}
</body>
<script>
    $(document).ready(function() {
        var today = new Date().toISOString().split('T')[0];
        $('#input_time').attr('min', today);
    });

    $(document).ready(function () {
        $.ajax({
            url: "{% url 'black_print' %}",
            type: 'GET',
            // dataType: 'json',
            success: function (data) {
                // console.log('Data:', data);
                // // 将数据插入到页面中
                // Object.values(data).forEach(function (item) {
                //     console.log('ID:', item.stu_id);
                //     console.log('Expire Time:', item.expire_time);
                //     console.log('Reason:', item.banned_reason);
                // });
            },
            error: function (error) {
                console.error('Error:', error);
            }
        });
    });

    $(document).ready(function(){
        $("form").on("submit", function(event){
            event.preventDefault();

            // var $th = $(this).closest("#input_blacklist");

            var StuId= $("input[name='input_id']").val();
            var BlackDate= $("input[name='input_time']").val();
            var Reason= $("input[name='input_reason']").val();

            if(StuId.length < 9) {
                alert("學號格式不正確");
            }
            else {
                $.ajax({
                    url: "{% url 'black_input'%}",
                    type: 'POST', //???
                    data: {
                        'banned_reason': Reason,
                        'stu_id': StuId,
                        'mode': 'blacklist_input', //???
                        'expire_time': BlackDate,
                    },
                    success: function(response){
                        alert(response);
                        // panel.close();

                        if(response !== "該學號已存在於黑名單內")
                            location.reload(true);
                    },
                    error: function(response){
                        alert("輸入失敗");
                        console.log(response);
                    }
                });
            }
        });
    });

    $(document).ready(function(){
        $(".edit").on("click", function(event){
            var $row = $(this).closest(".action");

            $row.find(".edit").css("display", "none");
            $row.find(".delete").css("display", "none");
            $row.find(".save").css("display", "inline");
            $row.find(".cancel").css("display", "inline");


            var stuId = $(this).closest("tr").find("td:first").text().trim();
            var expireTime = $(this).closest("tr").find("td:nth-child(2)").text().trim();
            var bannedReason = $(this).closest("tr").find("td:nth-child(3)").text().trim();   
            // editable
            // alert(stuId + expireTime +bannedReason);


        // 迭代所有可編輯的元素，隱藏 <span>，顯示相應的 <input>
            $row.find(".editable span").each(function() {
                $(this).css("display", "none");
            });

            $row.find(".editable input").each(function() {
                $(this).css("display", "inline");
            });

            $row.find(".edit_id").val(stuId);
            $row.find(".edit_reason").val(bannedReason);

            var formattedExpireTime = expireTime.replace(/(\d{4})(\d{2})(\d{2})/, "$1-$2-$3");
            $row.find(".edit_time").val(formattedExpireTime);
            // alert(formattedExpireTime);
        });
    });

    $(document).ready(function(){
        $(".save").on("click", function(event){
            event.preventDefault();

            var $row = $(this).closest(".action");

            var original_stuId = $row.find(".ori_id").text().trim();
            // alert(original_stuId);

            var stuId = $row.find(".edit_id").val();
            var expireTime = $row.find(".edit_time").val();
            var bannedReason = $row.find(".edit_reason").val();
            // alert(stuId + expireTime +bannedReason);

            $.ajax({
                url: "{% url 'black_edit'%}",
                type: 'POST', //???
                data: {
                    'banned_reason': bannedReason,
                    'stu_id': stuId,
                    'mode': 'blacklist_edit', //???
                    'expire_time': expireTime,
                    'original_id': original_stuId,
                },
                success: function(response){
                    alert(response);
                    // panel.close();
                    location.reload(true);
                },
                error: function(response){
                    alert("修改失敗");
                    console.log(response);
                }
            });
        });
    });
    
    $(document).ready(function(){
        $(".cancel").on("click", function(event){
            var $row = $(this).closest(".action");

            $row.find(".edit").css("display", "inline");
            $row.find(".delete").css("display", "inline");
            $row.find(".save").css("display", "none");
            $row.find(".cancel").css("display", "none");

            $row.find(".editable span").each(function() {
                $(this).css("display", "inline");
            });

            $row.find(".editable input").each(function() {
                $(this).css("display", "none");
            });
        });
    });

    $(document).ready(function(){
        $(".delete").on("click", function(event){
            var stuId = $(this).closest("tr").find("td:first").text().trim();
            var expireTime = $(this).closest("tr").find("td:nth-child(2)").text().trim();
            var bannedReason = $(this).closest("tr").find("td:nth-child(3)").text().trim();

            // alert("確定刪除這筆資料嗎?\n\n學。號:" + stuId + "\n封鎖到期日: " + expireTime + "\n封鎖原因: " + bannedReason);

            var result = confirm("確定刪除這筆資料嗎?\n\n學號:" + stuId + "\n封鎖到期日: " + expireTime + "\n封鎖原因: " + bannedReason);

            if (result) {
                // alert("111");
                $.ajax({
                        url: "{% url 'black_delete'%}",
                        type: 'POST', //???
                        data: {
                            'stu_id': stuId,
                            'mode': 'blacklist_delete', //???
                        },
                        success: function(response){
                            alert(response);
                            // panel.close();
                            location.reload(true);
                        },
                        error: function(response){
                            alert("delete失敗");
                            console.log(response);
                        }
                });
            }
            // else{
            //     alert("000");
            // }

        });
    });
</script>
</html>