{% load static %}
<html>
    <header>
        <meta charset="utf-8" />
        <!-- Core theme JS-->
        <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
        <script src="https://code.jquery.com/ui/1.12.1/jquery-ui.min.js"></script>
        <script src=' {% static "plugin/jspanel-4.16.1/dist/jspanel.min.js" %}'></script>
        <link href='{% static "plugin/jspanel-4.16.1/dist/jspanel.min.css" %}' rel="stylesheet">
        <script src='{% static "plugin/jspanel-4.16.1/dist/extensions/modal/jspanel.modal.min.js" %}'></script>
        <link href='{% static "css/get_info.css"%}' rel="stylesheet">
        <link href='{% static "plugin/bootstrap-5.2.3-dist/css/bootstrap.css"%}' rel="stylesheet">
        <script src='{% static "plugin/bootstrap-5.2.3-dist/js/bootstrap.min.js"%}'></script>
    </header>
    <body>
        <div class="hidden">
            <form action="" method="post">
                {% csrf_token %}
                <h4>請輸入學生學號(用逗號或是換行間隔):</h2>
                <div class="form-floating">
                    <textarea class="form-control" placeholder="請輸入學生學號" id="stu_id" rows="15" name="ids"></textarea>
                    <label for="stu_id">請輸入學生學號</label>
                </div>
            </form>
        </div>
        <div class="hidden">
            <h4>功能開發中...</h2>
        </div>
    </body>
    <script>
        function change_content() {
            let forms = $(".hidden");
            let all_item =$(".bar_item");
            for(let i = 0; i < all_item.length; ++i) {
                if(all_item.eq(i).hasClass("selected_item")) {
                    $(".main_content").html(forms[i].innerHTML);
                    return;
                }
            }
        }
        $("#open").unbind(event).click(function(){
            event.preventDefault();
            var panel =jsPanel.modal.create({
                theme: 'dark',
                panelSize: {
                    width: () => { return Math.min(900, window.innerWidth*0.9);},
                    height: () => { return Math.min(600, window.innerHeight*0.7);}
                },
                position: 'center 0 0',
                header: false,
                content: `
                <h2 id="panel_title" >批量獲取學生資訊</h2>
                <div id="container1">
                    <ul class="side_bar">
                        <li class="bar_item selected_item">依照學號查詢</li>
                        <li class="bar_item">住宿生資料匯出</li>
                    </ul>
                    <div class="main_content">
                        
                    </div>
                </div>
                <div id="panel_footer">
                    <button type="button" class="comfirm ui-button ui-widget ui-corner-all" style="display: inline">確認</button>
                    <button type="button" class="cancel ui-button ui-widget ui-corner-all" style="display: inline">取消</button>
                </div>
                `,
                callback: function() {
                    let title_height = $("#panel_title").outerHeight();
                    let panel_total_size = $(".jsPanel-content").outerHeight();
                    let footer_size = $("#panel_footer").outerHeight();
                    $("#container1").css("height", panel_total_size - title_height - footer_size - 5);
                    $(".cancel").unbind().click(function(event) {
                        panel.close();
                    });
                    $(".comfirm").unbind().click(function(event) {
                        console.log($(".main_content > form").html());
                        $(".main_content > form").submit();
                    });
                    $(".bar_item").unbind().click(function(event) {
                        $(".selected_item").removeClass("selected_item");
                        $(this).addClass("selected_item");
                        change_content();
                    })
                    change_content();
                },
            })
            

        })
    </script>
    
</html>