<!DOCTYPE html>
{% load static%}
<html lang="en">
<head>
    <meta charset="utf-8" />
    {% csrf_token %}
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no" />
    <meta name="description" content="" />
    <meta name="author" content="" />
    <title>宿舍公共空間借用系統</title>
    
    <!-- Bootstrap i cons-->
    <link href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.5.0/font/bootstrap-icons.css" rel="stylesheet" />
    <!-- Core theme CSS (includes Bootstrap)-->
    <link href='{% static "css/styles.css" %}' rel="stylesheet">
    {% comment %} <link href='{% static "css/loading_anima.css"%}' rel="stylesheet"> {% endcomment %}
    <!--Jquery core import-->
    <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
    <script src="https://code.jquery.com/ui/1.12.1/jquery-ui.min.js"></script>
    <link rel="stylesheet" href="https://code.jquery.com/ui/1.13.1/themes/base/jquery-ui.css">

</head>
<body>
    {% include "navbar.html" %}
    <main>
        <div class="progress-container">
            <div class="progress-box">
                <div class="progress-fill"></div>
            </div>
            <div class="progress-state state-load">Loading…</div>
            <div class="progress-state state-finish">Complete!</div>
        </div>
        <div class="dump-truck">
            <div class="front"></div>
            <div class="bucket"></div>
            <div class="dirt">
                <div class="dirt-spill"></div>
            </div>
            <div class="base"></div>
            <div class="wheel wheel-front"></div>
            <div class="wheel wheel-middle"></div>
            <div class="wheel wheel-back"></div>
        </div>
        <div class="dump-truck">
            <div class="front"></div>
            <div class="bucket"></div>
            <div class="dirt">
                <div class="dirt-spill"></div>
            </div>
            <div class="base"></div>
            <div class="wheel wheel-front"></div>
            <div class="wheel wheel-middle"></div>
            <div class="wheel wheel-back"></div>
        </div>
    </main>
    {% include "footer.html" %}
</body>
<script>
    window.addEventListener("DOMContentLoaded", loading)
    function loading() {
        var percents = [0.25,0.5,0.75,1],
            step = 0,
            truckLoopDur = 10,
            fill = function() {
                let fillEl = document.querySelector(".progress-fill");
                fillEl.style.transform = "scaleY(" + percents[step] + ")";
                ++step;

                if (step < percents.length) {
                    setTimeout(fill, (truckLoopDur * 1e3)/2);
                }
            };
        setTimeout(fill, (truckLoopDur * 1e3)/4);
    }
</script>
</html>