<!DOCTYPE html>
{% load static%}
<html lang="en">
<head>
    <meta charset="utf-8" />
    {% csrf_token %}
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no" />
    <meta name="description" content="" />
    <meta name="author" content="" />
    <title>宿舍公共空間借用系統</title>
    
    <!-- Bootstrap i cons-->
    <link href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.5.0/font/bootstrap-icons.css" rel="stylesheet" />
    <!-- Core theme CSS (includes Bootstrap)-->
    <link href='{% static "css/styles.css" %}' rel="stylesheet">
    <link href='{% static "css/loading_anima.css"%}' rel="stylesheet">
    <!--Jquery core import-->
    <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
    <script src="https://code.jquery.com/ui/1.12.1/jquery-ui.min.js"></script>
    <link rel="stylesheet" href="https://code.jquery.com/ui/1.13.1/themes/base/jquery-ui.css">

</head>
<body>
    {% include "navbar.html" %}
    {% for stu in ids %}
    {% endfor %}
    <main class="load">
        <div class="scene">
            <div class="objects">
                <div class="square"></div>
                <div class="circle"></div>
                <div class="triangle"></div>
            </div>
            <div class="wizard">
                <div class="body"></div>
                <div class="right-arm">
                    <div class="right-hand"></div>
                </div>
                <div class="left-arm">
                    <div class="left-hand"></div>
                </div>
                <div class="head">
                    <div class="beard"></div>
                    <div class="face">
                        <div class="adds"></div>
                    </div>
                    <div class="hat">
                        <div class="hat-of-the-hat"></div>
                        <div class="four-point-star --first"></div>
                        <div class="four-point-star --second"></div>
                        <div class="four-point-star --third"></div>
                    </div>
                </div>
            </div>
        </div>
        <div class="load_container">	
            <i>0%</i>	
            <div class="Loading">
                <span data-charge='100'></span>
            </div>
        </div>
        <div class="noise"></div>
    </main>
    {% include "footer.html" %}
</body>

<script type="text/javascript">		
  $(function(){
    $('.Loading span').animate({
      width : $('.Loading > span').data('charge') + '%'
    },1000);

    var getCounter = parseInt($('.load_container i').text());

    var MyCounter = setInterval(function(){
      if(getCounter !== 101){
        $('.load_container i').text(getCounter++ + '%');
      }else{
        clearInterval(MyCounter);
        $('.load_container i').text('Finished');
      };

    },10);
  });
</script>
</html>

